.nav {
    background-color: #4d4c4c;
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-title {
    font-family:'Courier New', Courier, monospace;
    color: #fafafa;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
    
}
.nav-links {
    display: flex;
    text-align: right;
    color: white;
    text-decoration: none;

}
.b1 {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    color: #fafafa;

}
.active {
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    display: inline-block;

}
.btn {
    margin: 20px;
    height: 35px;
    width: 200px;
    background-color:#313eb4;
    color: white;
    border: 2px solid black;
    box-shadow: 4px 5px 5px black;
    
}

